.list-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}


input{
    width: 500px;
    height: 50px;
    background-color:gray;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;

}


button{
    height: 30px;
    background-color: blue;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color:  #f8b195; 
    color: #70abdf;
}

::placeholder {
    color: whitesmoke;
    opacity: 1; 
  }
