<div class="project">
    <div class="list" *ngFor="let item of listItem">
        <p class="sn">{{item.id}}</p>
        <p class="todo">{{item.todo}}</p>
        <button class="edit"><i class="fa fa-pencil-square" aria-hidden="true"></i>
        </button>
        <button class="delete"><i class="fa fa-trash-o" aria-hidden="true"></i>    </button>
    
    </div>
    <div class="navigation">
        <button class="nav-btn" (click)="prevPage()" [disabled]="skip == 0">Prev</button>
            <button class="navigation-button"  *ngFor="let page of getPageRange()" 
            (click)="goToPage(page)" 
            [ngClass]="{'active-page': page === (skip / limit) + 1}">
            {{ page }}
            </button>
            <button class="nav-btn" (click)="nextPage()">Next</button>
    </div>
</div>
